@model FeedbackListViewModel

@{
    ViewData["Title"] = "Feedback list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Feedbacks list from domain - @Model.DomainName</h1>

<form method="post" asp-controller="Feedback" asp-action="SearchDates" class="form-inline mt-5">
    <input type="hidden" asp-for="DomainId" value="@Model.DomainId" />
    <input type="hidden" asp-for="DomainName" value="@Model.DomainName" />
    <div class="col-sm-4">Find feedbacks created on this day:</div>
    <input asp-for="CreateDate" type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control col-sm-6" />
    <div class="col-sm-1"></div>
    <button type="submit" class="btn btn-primary col-sm-1">Search</button>
</form>

<form method="post" asp-controller="Feedback" asp-action="SearchSignatures" class="form-inline mt-4">
    <input type="hidden" asp-for="DomainId" value="@Model.DomainId" />
    <input type="hidden" asp-for="DomainName" value="@Model.DomainName" />
    <div class="col-sm-4">Find feedbacks with this signature:</div>
    <input asp-for="SearchSignature" class="form-control col-sm-6" />
    <div class="col-sm-1"></div>
    <button type="submit" class="btn btn-primary col-sm-1">Search</button>
</form>

<form method="post" asp-controller="Feedback" asp-action="SearchMessages" class="form-inline mt-4">
    <input type="hidden" asp-for="DomainId" value="@Model.DomainId" />
    <input type="hidden" asp-for="DomainName" value="@Model.DomainName" />
    <div class="col-sm-4">Find feedbacks with this message:</div>
    <input asp-for="SearchPattern" class="form-control col-sm-6" />
    <div class="col-sm-1"></div>
    <button type="submit" class="btn btn-primary col-sm-1">Search</button>
</form>

<div class="row mt-5">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="h5 font-weight-bold">Message</th>
                    <th class="h5 font-weight-bold">Signature</th>
                    <th class="h5 font-weight-bold">Create Date</th>
                </tr>
            </thead>
            @{
                foreach (var feedback in Model.Feedbacks)
                {
                    <tr>
                        <td>@feedback.Message</td>
                        <td>@feedback.Signature</td>
                        <td>@feedback.CreateDate.ToString("dd-MM-yyyy")</td>
                    </tr>
                }
            }
        </table>
        @{
            if (Model.Feedbacks.Count == 0)
            {
                <div class="jumbotron">No feedbacks!</div>
            }
        }
    </div>
</div>

<a asp-action="ExportCSV" asp-route-domainId="@Model.DomainId" asp-route-domainName="@Model.DomainName" class="btn btn-primary">Export list to .csv file</a>